@font-face
{
    font-family: kongText;
    src: url('assets/kongtext.ttf')
}

#page-body{
    background-color: #333333;
}

canvas{
    background-color: #333;
    border: seagreen;
    border-width: thick;
    border-style: solid;
}